#define INCL_WIN
#define INCL_NLS
#include "os2.h"


STRINGTABLE 
BEGIN
	1070, "File\nFile transfer configuration"
END


DLGTEMPLATE 1070 
BEGIN
	DIALOG "", 100, 6, 3, 298, 147, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
	BEGIN
		CONTROL "", 102, 7, 129, 235, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Path for received files", 101, 2, 123, 293, 24, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Browse", 103, 247, 126, 44, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

