#define INCL_WIN
#define INCL_NLS
#include "os2.h"

STRINGTABLE
BEGIN
        625, "Helpers\nEvent helpers"
        626, "Helpers\nUser selectable helpers"
END


DLGTEMPLATE 625 
BEGIN
	DIALOG "", 100, 14, -45, 299, 205, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
	BEGIN
		CONTROL "", 103, 8, 152, 281, 44, WC_LISTBOX, LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 111, 64, 128, 220, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 112, 64, 115, 178, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Browse", 115, 247, 112, 40, 13, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP
		CONTROL "", 114, 64, 102, 220, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "OS/2 Window", 117, 14, 77, 81, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "OS/2 Fullscreen", 118, 14, 65, 82, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "OS/2 PM", 119, 14, 53, 61, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Invisible", 121, 108, 77, 59, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Visible", 122, 108, 65, 64, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Minimized", 123, 108, 53, 68, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Regular", 124, 202, 77, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Extended", 125, 202, 65, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Always", 126, 202, 53, 70, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "", 300, 14, 31, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 301, 14, 21, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 302, 14, 11, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 303, 108, 31, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 304, 108, 21, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 305, 108, 11, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 306, 202, 31, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 307, 202, 21, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 308, 202, 11, 80, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Events", 101, 4, 147, 291, 57, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Event Helper Options", 102, 4, 3, 291, 143, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Title:", 107, 10, 128, 33, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Filename:", 108, 10, 115, 43, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Parameters:", 110, 10, 102, 49, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Program type", 116, 10, 50, 90, 47, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Startup Options", 120, 104, 50, 90, 47, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Run type", 127, 198, 50, 90, 47, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "User groups (Unselect all to disable the group filtering)", 104, 10, 7, 278, 43, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE 626 
BEGIN
	DIALOG "", 100, 14, -27, 299, 187, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
	BEGIN
		CONTROL "", 103, 8, 134, 205, 44, WC_LISTBOX, LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Add new", 104, 215, 165, 77, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Remove selected", 105, 215, 149, 77, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Change Details", 106, 215, 133, 77, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 111, 64, 110, 220, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "", 112, 64, 97, 177, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Browse", 115, 246, 94, 41, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP
		CONTROL "", 114, 64, 84, 220, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "OS/2 Window", 200, 14, 59, 81, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "OS/2 Fullscreen", 201, 14, 47, 82, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "OS/2 PM", 202, 14, 35, 61, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Invisible", 203, 108, 59, 59, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Visible", 204, 108, 47, 64, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Minimized", 205, 108, 35, 68, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "User", 206, 202, 59, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Main", 207, 202, 47, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Message", 208, 202, 35, 70, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Regular", 209, 15, 12, 68, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Extended", 210, 108, 12, 67, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Always enabled", 211, 202, 12, 79, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Active Helpers", 101, 4, 129, 291, 57, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Helper Options", 102, 4, 2, 291, 126, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Title:", 107, 10, 110, 34, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Filename:", 108, 10, 97, 42, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Parameters:", 110, 10, 84, 51, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Program type", 116, 10, 32, 90, 47, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Startup Options", 120, 104, 32, 90, 47, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "pwICQ Menu", 127, 198, 32, 90, 47, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Run type", 109, 10, 6, 278, 25, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

