#define INCL_WIN
#define INCL_NLS
#include "os2.h"

STRINGTABLE 
BEGIN
	100, "Sounds\nEvent Sounds"
	101, "Group Sounds\nUser Online Sounds by group"
END

DLGTEMPLATE 100 
BEGIN
	DIALOG "", 100, 14, 118, 297, 152, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS, FCF_NOBYTEALIGN
	BEGIN
		CONTROL "", 102, 8, 90, 281, 53, WC_LISTBOX, LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 104, 54, 76, 232, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Browse", 105, 163, 60, 63, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Play", 106, 226, 60, 63, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Load", 113, 190, 30, 48, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Save", 101, 238, 30, 48, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "The sound device is shareable", 108, 8, 6, 150, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Events", 107, 3, 25, 291, 126, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Filename:", 103, 8, 76, 40, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Options", 109, 3, 3, 291, 21, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "(For speaker sounds use %frequency1,duration1,...)", 110, 8, 51, 281, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x800000L
		CONTROL "Scheme", 111, 8, 28, 281, 21, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 112, 13, 32, 172, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_READONLY | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

DLGTEMPLATE 101 
BEGIN
	DIALOG "", 100, 14, 164, 297, 106, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS, FCF_NOBYTEALIGN
	BEGIN
		CONTROL "", 102, 8, 44, 281, 53, WC_LISTBOX, LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 104, 54, 30, 232, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Browse", 105, 163, 14, 63, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Play", 106, 226, 14, 63, 12, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Groups", 107, 3, 3, 291, 102, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Filename:", 103, 8, 30, 40, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "(For speaker sounds use %frequency1,duration1,...)", 110, 8, 5, 281, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x800000L
	END

END
