#define INCL_WIN
#define INCL_NLS
#include "os2.h"

ICON 1 pmdc.ico
BITMAP 1 pmdc.bmp
BITMAP 10 pmdc2.bmp

STRINGTABLE
BEGIN
        625, "PMDC\nPMDC Interface"
END

DLGTEMPLATE 625 
BEGIN
	DIALOG "", 100, 14, 13, 299, 124, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
	BEGIN
		CONTROL "Mode:", 101, 15, 100, 27, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 102, 47, 75, 115, 35, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Enable downloads", 103, 177, 101, 100, 9, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
		CONTROL "Disable downloads", 104, 177, 90, 95, 9, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "No Action", 105, 177, 79, 75, 9, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		CONTROL "Control PMDC Activity", 106, 5, 73, 289, 47, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 107, 5, 6, 289, 38, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL 1, 108, 23, 13, 30, 20, WC_STATIC, SS_ICON | WS_VISIBLE | WS_GROUP
		CONTROL "This module needs PM Downloader V0.5d", 109, 78, 27, 209, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "by ErOs2, <eros2@os2.ru>", 110, 78, 18, 209, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "http://eros2.by.ru", 111, 78, 9, 209, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "pwICQ Drop-Down window", 112, 5, 46, 289, 25, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Enabled (Changes only in pwICQ startup)", 113, 15, 51, 274, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END
