#define INCL_WIN
#define INCL_NLS
#include "os2.h"

bitmap 200      "blueflower-left.bmp"
bitmap 201      "pwtitleonly.bmp"
icon 200        "uinfo.ptr"

STRINGTABLE
BEGIN
        100,    "Spam\nSpam Protection"
        101,    "Requests\nAuthorization requests"
        200,    "\nUser Information"
        201,    "Contact\nContact Information"
        202,    "Mode\nMode Options"
        203,    "Codepage\nCodepage translation"
        204,    "Groups\nUser group names"
        205,    "Groups\nUser groups"
        206,    "Miscellaneous\nUser Options"
END

STRINGTABLE
BEGIN
        6200,                   "0.No codepage translation"
        6201,                   "437.US-Ascii"

        6202,                   "1004.ISO 8859-1 (Latin1)"
        6203,                   "1250.ISO 8859-2 (Latin2/PN)"
        6204,                   "915.ISO 8859-5 (Cyrillic)"

        6205,                   "866.Russia (866)"
        6206,                   "855.Cyrillic (855)"
        6207,                   "1251.Cyrillic Windows (1251)"
        6208,                   "878.Russia - Internet (KOI8)"
        6209,                   "1283.Apple Cyrillic"
        6210,                   "1025.Cyrillic - EBCDIC"


        6211,                   ""  /* Sinalize list end, don't change */

END

DLGTEMPLATE 100 
BEGIN
	DIALOG "", 100, 24, 217, 297, 109, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS, FCF_NOBYTEALIGN
	BEGIN
		CONTROL "Strip spaces when checking for badwords", 123, 9, 89, 194, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "ICQ-Pagers", 102, 9, 67, 112, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Any message without text", 118, 9, 58, 127, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "E-Mail express", 103, 157, 67, 100, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "URLs from unknown users", 119, 157, 58, 130, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Accept all", 110, 9, 39, 87, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Accept only messages", 111, 9, 29, 130, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Ignore all", 112, 9, 19, 87, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Scan for badwords", 120, 9, 8, 112, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Accept all", 114, 157, 39, 87, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Accept only messages", 115, 157, 29, 127, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Ignore all", 116, 157, 19, 87, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Scan for badwords", 121, 157, 8, 95, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Unknown Users", 122, 150, 3, 144, 52, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Known Users", 101, 3, 3, 144, 52, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Auto-ignore", 107, 3, 55, 291, 29, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Options", 113, 3, 85, 291, 22, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE 101 
BEGIN
	DIALOG "", 100, 24, 143, 297, 79, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS, FCF_NOBYTEALIGN
	BEGIN
		CONTROL "Auto-accept know users", 108, 9, 59, 119, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Auto-Refuse unknown users", 104, 9, 50, 126, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Refuse ignored requests", 117, 156, 60, 119, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 106, 7, 8, 283, 29, WC_MLE, MLS_BORDER | MLS_WORDWRAP | MLS_IGNORETAB | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Options", 105, 3, 47, 291, 29, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Refuse reason", 109, 3, 4, 291, 41, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE 200 
BEGIN
	DIALOG "User information", 100, 6, 219, 299, 58, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS, FCF_NOBYTEALIGN
	PRESPARAMS PP_BACKGROUNDCOLOR , 0xffffffL
PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
	BEGIN
		CONTROL 200, 101, 0, 5, 84, 53, WC_STATIC, SS_BITMAP | WS_VISIBLE
		CONTROL "John (ICQ#00000000)", 103, 122, 46, 172, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.System VIO"
		CONTROL "John Doe", 105, 122, 36, 172, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.System VIO"
		CONTROL "JohnDoe@nowhere.com", 107, 122, 26, 172, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.System VIO"
		CONTROL "", 102, 122, 6, 172, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.System VIO"
PRESPARAMS PP_FOREGROUNDCOLOR , 0xff0000L
		CONTROL "", 104, 67, 16, 227, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "10.System VIO"
PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
	END

END

DLGTEMPLATE 201 
BEGIN
	DIALOG "", 100, 14, 30, 299, 105, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS, FCF_NOBYTEALIGN
	BEGIN
		CONTROL "", 200, 69, 86, 54, 7, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_READONLY | ES_ANY | WS_VISIBLE
		CONTROL "", 201, 186, 86, 102, 7, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 202, 69, 73, 110, 7, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 150, 260, 73, 27, 7, WC_ENTRYFIELD, ES_RIGHT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 203, 69, 60, 110, 7, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 106, 52, 36, 157, 7, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 108, 52, 23, 157, 7, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 113, 52, 10, 157, 7, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "N/A", 120, 227, 36, 58, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Female", 121, 227, 22, 49, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Male", 122, 227, 8, 52, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "User Info", 900, 5, 54, 289, 50, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "UIN:", 900, 10, 86, 21, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "NickName:", 900, 128, 86, 51, 7, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "First Name:", 900, 10, 73, 51, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Last Name:", 900, 10, 60, 49, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "", 800, 230, 58, 59, 7, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0xff0000L
PRESPARAMS PP_FONTNAMESIZE "8.Courier"
		CONTROL "Age:", 104, 223, 73, 30, 7, WC_STATIC, SS_TEXT | DT_RIGHT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sex", 105, 218, 3, 76, 50, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Phone Numbers", 900, 5, 3, 209, 50, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Home:", 900, 9, 36, 27, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Cellular:", 900, 9, 23, 35, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
		CONTROL "Fax:", 900, 9, 10, 27, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
	END

END



DLGTEMPLATE 202
BEGIN
        DIALOG "", 100, 14, 42, 299, 114, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS, FCF_NOBYTEALIGN
        BEGIN
                CONTROL "", 102, 37, 56, 118, 54, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 103, 9, 49, 281, 40, WC_MLE, MLS_BORDER | MLS_WORDWRAP | MLS_IGNORETAB | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Always ask for message", 200, 10, 27, 134, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Enable auto-open", 202, 162, 27, 122, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Enable auto-mode changes", 201, 10, 17, 131, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Enable sound effects", 203, 162, 17, 122, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Enable helpers", 204, 10, 7, 103, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Enable extended helpers", 205, 162, 7, 117, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "Options", 104, 5, 3, 289, 41, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
                CONTROL "Away message", 900, 5, 44, 289, 53, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
                CONTROL "Mode:", 101, 9, 101, 23, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        END

END

DLGTEMPLATE 203 
BEGIN
	DIALOG "", 100, 20, 70, 299, 130, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS, FCF_NOBYTEALIGN
	BEGIN
		CONTROL "", 102, 10, 29, 279, 93, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Translate files", 103, 10, 7, 129, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Extern Character Set", 101, 5, 24, 289, 105, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Options", 104, 5, 3, 289, 21, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE 204
BEGIN
        DIALOG "", 100, 54, 115, 299, 183, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
        BEGIN
                CONTROL "", 200, 28, 160, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 201, 169, 160, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 202, 28, 146, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 203, 169, 146, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 204, 28, 132, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 205, 169, 132, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 206, 28, 117, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 207, 169, 117, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 208, 28, 103, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 209, 28, 75, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 210, 169, 75, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 211, 28, 61, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 212, 169, 61, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 213, 28, 47, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 214, 169, 47, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 215, 28, 32, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 216, 169, 32, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "", 217, 28, 18, 116, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
                CONTROL "01", 101, 10, 160, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "02", 102, 151, 160, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "03", 105, 10, 146, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "04", 106, 151, 146, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "05", 109, 10, 132, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "06", 110, 151, 132, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "07", 113, 10, 117, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "08", 114, 151, 117, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "09", 117, 10, 103, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "Regular", 103, 4, 97, 289, 82, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
                CONTROL "01", 120, 10, 75, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "02", 121, 151, 75, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "03", 122, 10, 61, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "04", 123, 151, 61, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "05", 124, 10, 47, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "06", 125, 151, 47, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "07", 126, 10, 32, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "08", 127, 151, 32, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "09", 128, 10, 18, 12, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
                CONTROL "Extended", 129, 4, 12, 289, 82, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        END

END

DLGTEMPLATE 205
BEGIN
        DIALOG "", 100, 54, 115, 299, 183, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
        BEGIN
                CONTROL "", 200, 10, 160, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 201, 160, 160, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 202, 10, 146, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 203, 160, 146, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 204, 10, 132, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 205, 160, 132, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 206, 10, 117, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 207, 160, 117, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 208, 10, 103, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 209, 10, 75, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 210, 160, 75, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 211, 10, 61, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 212, 160, 61, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 213, 10, 47, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 214, 160, 47, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 215, 10, 32, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 216, 160, 32, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "", 217, 10, 18, 116, 8, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP
                CONTROL "Regular", 103, 4, 97, 289, 82, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
                CONTROL "Extended", 129, 4, 12, 289, 82, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        END

END

DLGTEMPLATE 206 
BEGIN
	DIALOG "", 100, 145, 260, 296, 113, FS_ICON | NOT FS_DLGBORDER | FS_MOUSEALIGN | NOT WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TASKLIST | FCF_ICON
	BEGIN
		CONTROL "Enable History", 300, 8, 92, 126, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Preserve Window positions", 103, 145, 92, 128, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Ignore user", 303, 8, 69, 77, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Don't send away", 304, 145, 69, 89, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Auto-Open", 305, 8, 59, 87, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Don't show away", 306, 145, 59, 89, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Separated folder", 104, 8, 29, 127, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Auto accept", 105, 145, 29, 89, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Normal behavior", 307, 8, 6, 81, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Always Invisible", 308, 108, 6, 83, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Always Visible", 309, 207, 6, 80, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Visibility", 900, 4, 3, 289, 22, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Generic", 900, 4, 88, 289, 23, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Messages", 900, 4, 47, 289, 41, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Warning: The auto-open feature needs global configuration", 101, 11, 49, 274, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0xff0000L
		CONTROL "File Transfer", 102, 4, 25, 289, 22, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


